.box1
{
    height: 100%;
    width: 45%;
    border: solid 3px;
    margin-left: 365px;
    padding-bottom: 100px;
    margin: auto;
    border-radius: 15px;
    background:linear-gradient(rgb(226, 12, 47),rgb(80, 91, 91))
}
.box2
{   
    border-left: solid 2px;
    width: 500px;
    padding: 20px;
    margin: auto;
    background-color: rgb(221, 22, 92);
    display: flex;
    text-align: center;
}
.box3
{
    width: 500px;
    margin: auto;
    border: solid 2px;color: rgb(255, 255, 255);
    background-color: rgb(205, 17, 39);
    display: flex;
    text-align: center;
}
.info
{
    display: flex;
    flex-direction: column;
}
h1{
    margin: auto;
    padding-left: 10%;
    padding-top: 5%;
}
img{
    height: 190px;
    width: 130px;
}
.box4
{
    padding: 15px;
    width: 400px;
    margin: auto;
    background-color:rgb(255, 0, 251);
    border: solid 3px;
    border-radius: 5px;
}
.amount
{
    display: flex;
    flex-direction: row-reverse;
}
h5
{
    font-size: 15px;
}
hr{
    color: whitesmoke;
    border: solid 3px;
}
h2
{
    margin-left: 15px;
}
p{
    margin: auto;
    text-align: center;
    width: 600px;
}
